@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
*{
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', sans-serif;
}
#Love{
	width: 960px;
	height: auto;
	overflow: hidden;
	border:solid 1px black;

}

.ts-home1-hosting-services {
    background-attachment: fixed;
    background-image: url(kop.jpg);
    background-repeat: repeat;
    overflow: hidden;
}
.ts-home1-hosting-services {
    margin-bottom: 0px!important;
    padding-top: 60px!important;
    padding-bottom: 70px!important;
}
.parallax-section {
    background-size: cover;
    position: relative;
}

.parallax-section {
    background-position: 0 50%;
}

.ts-overlay, .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
}

.container {
    width: 970px;
}
.container {
    margin-right: auto;
    overflow: hidden;
    margin-left: auto;
}

.col-sm-12 {
    width: 100%;
}

.col-sm-12 {
    float: left;
}

.col-sm-12 {
    position: relative;
    min-height: 1px;
  
}

.ts-home1-hosting-services .ts-section-title {
    margin-bottom: 40px!important;
}

.ts-section-title {
    position: relative;
}
.text-center {
    text-align: center;
}

.ts-home1-hosting-services .ts-section-title h3 {
    color: #fff;
}
.ts-section-title h3 {
    font-weight: 300;
    font-size: 30px;
        margin: 0 0 20px 0;
    margin-top: 0;
    line-height: 30px;
    margin-bottom: 10px;
}

.row {
    
    overflow: hidden;
}

.ts-home1-block12-left {
    border-right-width: 1px!important;
    border-right-color: #c5c7c7!important;
    border-right-style: solid!important;
}

.col-sm-6 {
    width: 49%;
    float: left;
    position: relative;
    min-height: 1px;
}
.ts-feature-item.right {
    padding-right: 11.33333%;
    text-align: right;
}
.ts-feature-item:first-child {
    margin-bottom: 80px;
}
.ts-feature-item.right .icon-feature {
    float: right;
}

.ts-feature-item .icon-feature {
    background: rgba(255,255,255,0.4);
    width: 98px;
    height: 98px;
    line-height: 98px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 30px;
    color: white;
}


.ts-feature-item.right .info-feature {
    padding-right: 128px;
}

.ts-feature-item .info-feature {
    font-size: 14px;
    color: #d1d1d1;
    display: block;
}
.ts-feature-item.right {
    
    text-align: right;
}
.ts-feature-item .info-feature h3 {
    font-size: 20px;
    margin-bottom: 13px;
    margin-top: 0;
}
.ts-feature-item .info-feature h3 a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0 0 10px;
}

.ts-feature-item.left {
    padding-left: 11.33333%;
    text-align: left;
}

.ts-feature-item.left .icon-feature {
    float: left;
}
.ts-feature-item .icon-feature {
    background: rgba(255,255,255,0.4);
    width: 98px;
    height: 98px;
    line-height: 98px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 30px;
    color: white;
}

.ts-feature-item.left .info-feature {
    padding-left: 128px;
}

.ts-feature-item .info-feature h3 {
    font-size: 20px;
    margin-bottom: 13px;
    margin-top: 0;
}
.ts-feature-item .info-feature {
    font-size: 14px;
    color: #d1d1d1;
    display: block;
}

.page-slider-wrapper {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.page-slider-wrapper.left-slide .column.first {
    float: right;
}
.column.first {
    margin-left: 0;
}
.dt-sc-three-fifth {
    width: 59.2%;
}
.column {
  
    margin: 0 0 0 2%;
    min-height: 1px;
    position: relative;
}


#newsletter {
	padding-top: 60px;
	padding-bottom: 80px;
	background-image: url(newsletter_bkg.jpg);
	background-repeat: repeat;
	background-position: center center;
	text-align: center;
}

#newsletter h1 {
	color: #fff;
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 5px;
}

#newsletter p {
	color: #999;
	font-size: 20px;
	font-weight: 300;
	margin: 0 0 10px;
}

p {
	
}

#newsletter form input[type="email"] {
	background-color: #f0f0f0;
	width: 456px;
	color: #414141;
	font-size: 18px;
	font-weight: 300;
	padding: 10px 15px;
	border: 1px solid #ccc;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#newsletter form input[type="submit"] {
	width: 182px;
	background-color: #ff573c;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 10px;
	padding: 10px 15px;
	border: medium none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	cursor: pointer;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.newsletterfields{
	padding: 0;
}

#takeagain{
	width: 970px;
	height: auto;
	overflow: hidden;
	padding: 23px 0px;
	margin-top: 25px;
}
.dt-sc-one-third {
    width: 32%;
}

.dt-sc-ico-content.type3 {
    background: none;
    display: inline-block;
    margin-bottom: 35px;
    padding: 0;
    position: relative;
    width: 100%;
}
.dt-sc-ico-content.type3 .icon {
    display: block;
    float: left;
    line-height: 0;
    margin: 0 20px 0 0;
    text-align: center;
    width: 70px;
}
.dt-sc-ico-content.type3 .icon span {
    display: inline-block;
    width: 100%;
    color: #405069;
}

.dt-sc-ico-content.type3 h3, .dt-sc-ico-content.type3 h4, .dt-sc-ico-content.type3 h5, .dt-sc-ico-content.type3 h6 {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 14px 0 16px;
    text-align: left;
}
.lopsp{
	float: left;
}

.section_holder33 {
    width: 100%;
    padding: 35px 0 40px 0;
    margin: 0px;
    overflow: hidden;
    background-color: #e1e1e1;
}

.section_holder33 .price_table_holder {
    width: 292px;
    float: left;
    padding: 0;
    margin: 0;
}

.section_holder33 .price_table {
    width: 100%;
    float: left;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: center;
    background-color: #fff;
    border-right: 1px solid #d9d9d9;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.section_holder33 .price_table .title {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0 20px 0;
    color: #272727;
    text-align: center;
    margin: 0px 0 10px 0;
    border-bottom: 1px solid #e6e5e5;
}

.section_holder33 .price_table .price {
    color: #272727;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    padding: 8px 0px 8px;
    border-bottom: 1px solid #e6e5e5;
}

.section_holder33 .price_table .price sup {
    font-size: 22px;
    font-style: normal;
}
sup {
    bottom: 1ex;
}
sup, sub {
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
.section_holder33 .price_table .price i {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.section_holder33 .price_table ul.plan_features {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}
.section_holder33 ul.plan_features.two li {
    width: 80%;
}
.section_holder33 ul.plan_features li {

    color: #727272;
    text-align: center;
    padding: 8px 0;
    margin: 0 auto;
    border-bottom: 1px solid #e6e5e5;
}
ul li {
    list-style: none;
}

.margin_top3 {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.section_holder33 .plan_info .singup_but {
    color: #fff;
    text-align: center;
    padding: 8px 30px;
    margin: 0 0px 25px 0px;
    background-color: #119ee7;
}
a {
 
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.section_holder33 .price_table.active {
    position: relative;
    background-color: #119ee7;
    padding: 20px 0;
    margin: 0 0 0 0;
}
.section_holder33 .price_table.active {
    position: relative;
    background-color: #119ee7;
    padding: 20px 0;
    margin: 0 0 0 0;
}

.section_holder33 .price_table .arrow {
    position: absolute;
    width: 34px;
    height: 19px;
    padding: 0px;
    margin: -19px 0px 0px -34px;
    float: left;
    background: url(site-img56.png) 0 0 no-repeat;
    z-index: 3;
}
.section_holder33 .price_table .arrow.two {
    margin: -19px 0px 0px 291px;
    background: url(site-img57.png) 0 0 no-repeat;
}
.section_holder33 .price_table .arrow {
    position: absolute;
    width: 34px;
    height: 19px;
    padding: 0px;
    margin: -19px 0px 0px -34px;
    float: left;
    background: url(site-img56.png) 0 0 no-repeat;
    z-index: 3;
}
.section_holder33 .price_table .arrow.three {
    margin: 457px 0px 0px -34px;
    background: url(site-img58.png) 0 0 no-repeat;
}

.section_holder33 .price_table .arrow.four {
    margin: 457px 0px 0px 291px;
    background: url(site-img60.png) 0 0 no-repeat;
}

.section_holder33 .price_table.active .title {
    color: #fff;
    border-bottom: 1px solid #51b3e6;
}

.section_holder33 .price_table.active .price {
    color: #fff;
    border-bottom: 1px solid #51b3e6;
}
.margin_top3 {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.section_holder33 .price_table.active .singup_but {
    color: #272727;
    background-color: #fff;
}
.section_holder33 .price_table.active .plan_features li {
    color: #fff;
    border-bottom: 1px solid #51b3e6;
}

.dingdon{
	width: 880px;
	overflow: hidden;
}

.domain_search {
    width: 100%;
    background: #f0f0f0;
    overflow: hidden;
}

.liop{
	width: 970px;
	overflow: hidden;
}
.domain_search .left {
    float: left;
    width: 50%;
    padding: 20px 0px 16px 0px;
}

.domain_search .left .search_section {
    float: left;
    width: 96.8%;
    padding: 1.4% 1.6%;
    background: #fff;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
#domain-searchform {
    margin: 0;
    padding: 0;
}

#domain-searchform #s {
    border: 1px solid #fff;
    width: 61%;
    height: 30px;
    padding: 7px 10px 7px 10px;
    color: #393a3b;
    float: left;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f3f3f3;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px #FFF;
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px #FFF;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1), 0px 4px 0px 0px #FFF;
}
input{
    font: 13px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    color: #727272;
}

.domain_search .left .search_section #searchsubmit {
    float: right;
    width: 135px;
    height: 44px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: #6fa62d;
    border-radius: 4px;
    border: 1px solid #6fa62d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#81b740), to(#6fa62d));
    background-image: -webkit-linear-gradient(top, #81b740, #6fa62d);
    background-image: -moz-linear-gradient(top, #81b740, #6fa62d);
    background-image: -o-linear-gradient(top, #81b740, #6fa62d);
    background-image: linear-gradient(to bottom, #81b740, #6fa62d);
}

.domain_search .left .sm_links {
    float: left;
    color: #999;
    font-size: 12px;
    margin-top: 5px;
}
.domain_search .left .sm_links a {
    color: #999;
}
.clearfix {
    display: block;
}

.shadow_01 {
    float: left;
    width: 100%;
    height: 18px;
    background: url(shadow-1.png) no-repeat center top;
}


.domain_search .right {
    float: right;
    width: 50%;
    min-height: 90px;
    padding: 20px 0px 16px 0px;
    background: url(tra-graph1.png) no-repeat left top;
}

.domain_search .right li {
    float: left;
    padding: 10px 0px 13px 0px;
    margin: 0px 0px 0px 10px;
    width: 100px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    color: #393a3b;
    text-align: center;
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.domain_search .right li em {
    font-size: 12px;
    color: #727272;
    font-style: normal;
    display: block;
    line-height: 13px;
    margin-top: -4px;
}

.clints{
	width: 100%;
	background-color: #4B5A72;
	overflow: hidden;
	padding: 10px 0px;
}

.inClints{
	width: 970px;
	overflow: hidden;
	border: solid 1px black;

}

.clients_sec {
    background-color: #EEEEEE;
    width: 100%;
    padding: 35px 0px;
}

.container {
    width: 970px;
}

.clients_sec .title {
    float: left;
    width: 30%;
    padding-left: 3%;
    height: 75px;
    padding-top: 25px;
    color: #fff;
    font-size: 14px;
    background: url(graph-bg1.png) no-repeat left top;
}

.clients_sec .title strong {
    font-size: 22px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.clients_sec .clients {
    float: left;
    width: 65%;
}

.clients{
 
    text-align: left;
    float: left;
}
.clients{
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

.jcarousel-item {
    width: 100px;
    height: 80px;
    text-align: center;
    background: url(circle-bg.png) no-repeat center top;
    float: left;
    margin-left: 13px;
}

.wrapper, #page {
    zoom: 1;
    width: 100%;
    margin: 0 auto;
}

.top_contact_info {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 35px;
    background: #000;
    border-bottom: 1px solid #333;
}

.ding{
	width:970px;
	overflow: hidden;
}


.date {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-weight: normal;
    font-size: 11px;
    line-height: 35px;
    vertical-align: middle;
    padding-left: 4px;
}

.date_wrap{
	width: 200px;
	height: auto;
	float: left;
	overflow: hidden;
}

.sajypase{
	width: 700px;
	float: right;
	text-align: center;
	overflow: hidden;
}


.fixer_o{
	width: 100px;
	height: auto;
	overflow: hidden;
	display: inline-block;
	color: #999;
	float: right;
	font-weight: normal;
    font-size: 11px;
    line-height: 35px;
    vertical-align: middle;
}

.fixer_p{
	width: 150px;
	height: auto;
	overflow: hidden;
	display: inline-block;
	color: #999;
	float: right;
	font-weight: normal;
    font-size: 11px;
    line-height: 35px;
    vertical-align: middle;
}

.socialme{
	color: #999;
    padding: 0px;
    font-size: 12px;
    display: inline-block;
    width: 100px;
     line-height: 35px;
    vertical-align: middle;
    float: right;
}

.socialme i{
	margin: auto 4px;
}

#trueHeader {
    z-index: 9999;
    left: 0;
    right: 0;
    padding: 0px 0;
    zoom: 1;
}
.contimon{
	width: 985px;
	overflow: hidden;
	height: auto;

}
.one_fourth {
    width: 22%;
}
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {
    position: relative;
    margin-right: 4%;
    float: left;
}

#trueHeader #logo {
    float: left;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 18px;
    text-indent: -999em;
    background: url(logoo.png) no-repeat left bottom;
}
#trueeHeader #logo {
    float: left;
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 18px;
    text-indent: -999em;
    background: url(logoo.png) no-repeat left bottom;
}
.main_header {
    
    width: 100%;
    background: url(header-bg.png) no-repeat center 36px;
    height: 627px;
}

.last {
    margin-right: 0 !important;
    clear: right;
}
.three_fourth {
    width: 74%;
}

.three_fourth {
    width: 74%;
}
.three_fourth, .one_fifth {
    position: relative;
    margin-right: 4%;
    float: left;
}

#access .menu {
    list-style: none;
    font-weight: normal;
    position: relative;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 0px;
}
#access .menu ul {
    margin: 0px;
    list-style-type: none;
    position: relative;
    text-align: left;
    z-index: 1001;
    height: 54px;
    margin: 20px 0px 0px 0px;
    float: right;
}

#access .menu ul li {
    position: relative;
    display: inline-block;
    padding: 0;
    z-index: 101;
    margin: 0px 1px 0px 0px;
    float: left;
}
ul li {
    list-style: none;
}
#access .menu ul li a.active {
    color: #fff;
    background-color: #545454;
    border-radius: 4px;
}
#access .menu ul li a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    margin: 0;
    padding: 13px 18px 12px 20px;
    text-align: center;
}
#access .menu ul li a:hover {
	color: #fff;
	background-color: #545454;
	border-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
} 

.bigone{
	width: 970px;
	height: auto;
	overflow: hidden;
	text-align: center;
}

.headingTTT{
	font-size: 65px;
    padding: 0px;
    color: white;
    font-weight: 600;
    margin: 0px;
    border-width: 0px;
   margin-top: 20px;
}

.dojit{
	font-size: 27px;
	color: white;
	text-transform: capitalize;
	margin-top: 15px;
}

.flieer{
	width: 620px;
	height: 335px;
}

.flieer img{
	width: 620px;
	height: 320px;	
	margin-top: 17px;
}
#trueeHeader {
    background-color: #272727;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#272727));
    background-image: -webkit-linear-gradient(top, #454545, #272727);
    background-image: -moz-linear-gradient(top, #454545, #272727);
    background-image: -o-linear-gradient(top, #454545, #272727);
    background-image: linear-gradient(to bottom, #454545, #272727);
}
#trueeHeader {
    position: fixed;
    top: 0;
    width: 100%;
}

.look{
	display: none;
}

#trueeHeader{
	    z-index: 9999;
    left: 0;
    right: 0;
    padding: 0px 0;
    zoom: 1;
}

.copyright {
    background: #222222;
    clear: both;
    color: White;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: auto;
    text-align: center;
}

.copyright a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

#counter {
    background: url(stock4.jpg) no-repeat bottom center;
    background-size: cover;
    width: 100%;
    padding: 10px 0px;
    height: 400px;
    text-align: center;
}
section.breaking {
    position: static;
    padding: 0;
}
.breaking {
    position: relative;
    background-attachment: fixed !important;
    color: #fff;
}
.centered {
    text-align: center;
}

.wanasayhi{
	font-size: 30px;
	font-weight: 300;
	color: white;
	line-height: 30px;
	margin-top: 25px;
	padding: 10px 29px;
    display: inline-block;
    background-color: #46A1CD;
    border-bottom-right-radius: 29px;
    border-top-left-radius: 29px;
}

.ts-overlay, .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
}